#chat-screen {
  background-color: #abc1d1;
  height: 1100vh;
}
#chat-screen .status-bar,
#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}
#chat-screen .alt-header {
  top: 10px;
}
